/* 
id = #
class = .
*/

/* body{
    background-color: blue;
} */

body{
    background-image: url(../../html/aprendizado/download.png); /* utilizada para adicionar uma imagem de fundo*/
    background-repeat: no-repeat; /* utilizada para não repetir a imagem de fundo*/
    background-size: 100px 400px; /* utilizada para definir o tamanho da imagem de fundo*/
    background-attachment: fixed; /* utilizada para fixar a imagem de fundo*/
    background-position: right bottom;/* utilizada para posicionar a imagem de fundo*/
    line-height: 2; /* utilizada para definir o espaçamento entre as linhas de texto*/
}

h1{
    border: solid 10px blueviolet;
    background-color: bisque;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif; /* utilizada para modificar a fonte do texto,
    lista de fontes pelo fator de que se o navegador não obtiver a fonte deseja ele tenta outra! */
    
    font-size: 20px; /* utilizada para modificar 
    o tamanho da fonte(px unidade de medida relativa ao tamanho do monitor)*/
    
    width: 50%; 

    height: 40px;

    padding: 10px; /*espaçamento interno do conteudo com o elemento */

    margin: 0px;/*espaçamento externo do elemento com os outros elementos*/
    
}

h3{
    font-size: 16px;
    text-transform: lowercase;
    background-color: blueviolet;
    
    border: 10px solid blue;
    outline: dashed 10px; /*adiciona uma "borda" ao elemento*/ 
}


.teste{
    background-color: blue;
    text-align: center; /* utilizada para alinhar o texto*/
    text-indent: 20px; /* utilizada para recuar o texto em todo inicio de paragrafo*/
    font-variant: small-caps; /* utilizada para modificar o texto para caixa alta*/
    text-decoration: underline; /* utilizada para sublinhar o texto*/
    padding-top: 0px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin: 0px;
}

a{
      text-decoration: none;
}

#teste{
    background-color: cadetblue;
    width: 30%;
    padding: 20px;
    margin: auto;
    box-sizing: border-box;

    text-align: center;

}

#aoba{
    background-color: chartreuse;
    display: block;
    width: 100%;
    margin: 0;
}

a:hover{/* quando o mouse passar por cima do elemento ele ira mudar de cor*/
    background-color: black;
}

a:active{/* quando o mouse clicar no elemento ele ira mudar de cor*/
    background-color: red;
}