/* 
id = #
class = .
*/

/* body{
    background-color: blue;
} */

h1{
    
    border: solid 10px blueviolet;
    background-color: bisque;
    
    color: aqua;
    
    font-family: Arial, Helvetica, sans-serif; /* utilizada para modificar a fonte do texto,
    lista de fontes pelo fator de que se o navegador não obtiver a fonte deseja ele tenta outra! */
    
    font-size: 20px; /* utilizada para modificar 
    o tamanho da fonte(px unidade de medida relativa ao tamanho do monitor)*/
    
    width: 50%; 

    height: 40px;

    padding-left: 10px;

}

h3{
    font-size: 16px;
    text-transform: lowercase;
    background-color: blueviolet;
}


.teste{
    background-color: blue;
    text-align: center; /* utilizada para alinhar o texto*/
    text-indent: 20px; /* utilizada para recuar o texto em todo inicio de paragrafo*/
    font-variant: small-caps; /* utilizada para modificar o texto para caixa alta*/
    text-decoration: underline; /* utilizada para sublinhar o texto*/
    padding-top: 0px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin: 0px;
}

a{
      text-decoration: none;
}